<swiper-container #swiper class="my-swiper" init="false">
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/headphone1.webp" alt="Rewards"></ion-img>
      <div class="black-section">
        <h3>1 Year Free Extended Warranty</h3>
        <p>Get Extended Warranty </p>
        <p>On Select Products </p>
        <ion-button class="shop-now" expand="full" fill="solid">Add to cart</ion-button>
      </div>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/headphone2.webp" alt="Rewards"></ion-img>
      <div class="black-section">
        <h3>Sony Rewards</h3>
        <p>Earn Sony Rewards on</p>
        <p>Every Purchase</p>
        <ion-button class="shop-now" expand="full" fill="solid">Select Options</ion-button>
      </div>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/headphone3.webp" alt="Lens Cleaning"></ion-img>
      <div class="black-section">
        <h3>Camera Sensor Cleaning</h3>
        <p>Book a sensor cleaning</p>
        <p>with us today.</p>
        <ion-button class="shop-now" expand="full" fill="solid">Select Options</ion-button>
      </div>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/headphone4.webp" alt="Lens Cleaning"></ion-img>
      <div class="black-section">
        <h3>Camera Sensor Cleaning</h3>
        <p>Book a sensor cleaning</p>
        <p>with us today.</p>
        <ion-button class="shop-now" expand="full" fill="solid">Add to cart</ion-button>
      </div>
    </ion-card>
  </swiper-slide>
  
</swiper-container>

