<ion-footer class="custom-footer" slot="no-fix">
  <ion-toolbar class="footer-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <h5 class="footer-title">SUPPORT</h5>
          <ul class="footer-links">
            <li><a href="#">Online-Help</a></li>
            <li><a href="#">Sony Support Community</a></li>
            <li><a href="#">Service Centres</a></li>
          </ul>
        </ion-col>

        <ion-col size="12" size-md="4">
          <h5 class="footer-title">Online Store</h5>
          <ul class="footer-links">
            <li><a href="#">Create Account</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </ion-col>

        <ion-col size="12" size-md="4">
          <h5 class="footer-title">Experience Sony</h5>
          <ul class="footer-links">
            <li><a href="#">Eco</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
