<ion-footer class="custom-footer" slot="no-fix">
  <ion-toolbar class="footer-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <h5 class="footer-title">SUPPORT</h5>
          <ul class="footer-links">
            <li><a href="#">Online-Help</a></li>
            <li><a href="#">Sony Support Community</a></li>
            <li><a href="#">Service Centres</a></li>
          </ul>
        </ion-col>

        <ion-col size="12" size-md="4">
          <h5 class="footer-title">Online Store</h5>
          <ul class="footer-links">
            <li><a href="#">Create Account</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </ion-col>

        <ion-col size="12" size-md="4">
          <h5 class="footer-title">Experience Sony</h5>
          <ul class="footer-links">
            <li><a href="#">Eco</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </ion-col>

        <ion-col size="12" size-md="4">
          <h5 class="footer-title">News & Info</h5>
          <ul class="footer-links">
            <li><a href="#">Press Centre</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </ion-col>

      </ion-row>
    </ion-grid>

    <div class="social-container">
      <a href="https://x.com" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="https://facebook.com" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://instagram.com" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="https://youtube.com" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
    </div>
    

  </ion-toolbar>

  <div class="legal-section">
    <p class="copyright">
      COPYRIGHT © 2025 SONY MARKET DEVELOPMENT MEA FZCO. <br />
      ALL RIGHTS RESERVED
    </p>
  
    <p class="disclaimer">
      DISCLAIMER: The Sony products on
      <a href="https://www.sonyworld.ae" target="_blank">www.sonyworld.ae</a>
      are sold, invoiced, and delivered by Sony’s official distributor in UAE,
      <strong>Jumbo Electronics Co. Ltd.</strong>
    </p>
  
    <ion-img src="assets/public/jumbo_logo_footer.webp" alt="Jumbo Logo" class="jumbo-logo"></ion-img>
  
    <div class="footer-links">
      <a href="#">TERMS & CONDITIONS</a> | <a href="#">PRIVACY POLICY</a>
    </div>
  </div>

</ion-footer>