
<ion-header>
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px; width: 100%;">

      <!-- Menu Button (Left) -->
      <ion-menu-button></ion-menu-button>

   
      <img [routerLink]="['/']" src="assets/sony-world-logo-uae.png" alt="Sony World" style="height: 30px; object-fit: contain;" />

      <!-- Cart Icon (Right) -->
      <ion-icon src="assets/icon/cart_white.svg" size="large"></ion-icon>

    </div>
  </ion-toolbar>
  <ion-searchbar placeholder="Search"></ion-searchbar>
</ion-header>
