
<ion-header>
  <ion-toolbar>

    <div class="marquee-wrapper">
      <div class="marquee-text">
        Free Shipping Above AED 95 | Earn 5% Rewards | 1 Year Free Extended Warranty on Select Products
      </div>
    </div>

    <div class="info-bar">
      <p class="announcement-bar__message">Items sold by Jumbo Electronics Co. Ltd.</p>
    </div>

    <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px; width: 100%;">

      <!-- Menu Button (Left) -->
      <ion-menu-button></ion-menu-button>

   
      <!-- <img [routerLink]="['/']" src="assets/sony-world-logo-uae.png" alt="Sony World" style="height: 30px; object-fit: contain;" /> -->

      <a [routerLink]="['/']">
        <ion-img src="assets/sony-world-logo-uae.webp" alt="Sony World" style="height: 30px; object-fit: contain;"></ion-img>
      </a>
      

      <!-- Cart Icon (Right) -->
      <ion-icon src="assets/icon/cart_white.svg" size="large"></ion-icon>

    </div>
  </ion-toolbar>
  <!-- <ion-searchbar placeholder="Search"></ion-searchbar> -->
 
  <div class="custom-search-bar">
    <ion-input
      placeholder="Search"
      type="text"
      class="search-input"
      [(ngModel)]="searchText"
    ></ion-input>
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
  </div>
  
</ion-header>
