<ion-menu contentId="main-content">
  <ion-header class="header">
    <ion-toolbar>
      <ion-title>menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><img src="assets/sony-world-logo-uae.png" alt="App Logo" style="height: 40px;">
        <img src="assets/icon/cart_white.svg" alt="" style="height: 40px;">
      </ion-title>
    </ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>