ion-content {
  --padding-top: 115px; 
}

  .container.dark {
    background-color: #1e1e22; /* Dark background */
    padding: 30px 20px;
    margin-top: -5px;
    color: white;
    text-align: center;
  }
  
  .container.dark h1,
  .container.dark h2 {
    color: white;
    margin: 10px 0;
  }
  
  .custom-btn {
    --background: #2D75C7;     /* Blue background */
    --color: white;            /* White text */
    --box-shadow: none;
    padding: 18px 30px;
    font-size: 16px;
    font-weight: 500;
  }
  

  
  

  // ion-header ion-toolbar ion-title{
  //   display: flex !important;
  //   justify-content: space-between;
  // }
  