<app-header></app-header>

<div class="ion-page" id="main-content">
  
  
  <ion-content class="">
    <ion-img src="assets/public/EN-740X740.webp" alt=""></ion-img>
    <div class="container dark ion-text-center">
      <h2>LinkBuds Series</h2>
      <h1>Keep every world on</h1>
    
      <ion-button class="custom-btn">Buy Now</ion-button>
    </div>

    <div class="container">
      <h4>The Latest</h4>
    </div>

    
    <div id="slider1-wrapper">
      <app-slider></app-slider>
      <div id="pagination1" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="container">
      <h4>BRAVIA Televisions</h4>
    </div>
    
    
    <div id="slider2-wrapper">
      <app-slider-tv></app-slider-tv>
      <div id="pagination2" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </ion-content>
</div>

<app-footer></app-footer>


 