<app-header></app-header>
  
  
  <ion-content class="">
    <ion-img src="assets/public/EN-740X740.webp" alt=""></ion-img>
    <div class="container dark ion-text-center">
      <h2>LinkBuds Series</h2>
      <h1>Keep every world on</h1>
    
      <ion-button class="custom-btn">Buy Now</ion-button>
    </div>

    <div class="container1">
      <h4>The Latest</h4>
    </div>

    
    <div id="slider1-wrapper">
      <app-slider></app-slider>
      <div id="pagination1" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    
    
    
    <div id="slider2-wrapper">
      <div class="container1">
        <h4>BRAVIA Televisions</h4>
      </div>
      <app-slider-tv></app-slider-tv>
      <div id="pagination2" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>


    <div class="container1">
      <h4>Soundbars</h4>
    </div>
    <div id="slider3-wrapper">
      <app-slider-soundbar></app-slider-soundbar>
      <div id="pagination3" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>

    <div class="container1">
      <h4>Headphones</h4>
    </div>
    <div id="slider4-wrapper">
      <app-slider-headphones></app-slider-headphones>
      <div id="pagination4" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>


    <div id="slider5-wrapper">
      <div class="container1">
        <h4>Speakers</h4>
      </div>
      <app-slider-speakers></app-slider-speakers>
      <div id="pagination5" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>

    <div id="slider6-wrapper">
      <div class="container1">
        <h4>Cameras</h4>
      </div>
      <app-slider-cameras></app-slider-cameras>
      <div id="pagination6" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>


    <div id="slider7-wrapper">
      <div class="container1">
        <h4>More from Sony</h4>
      </div>
      <app-slider-more-from-sony></app-slider-more-from-sony>
      <div id="pagination7" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>


   
  </ion-content>


<app-footer></app-footer>


 