<swiper-container #swiper class="my-swiper" init="false">
  <swiper-slide *ngFor="let slide of soundbars; let i = index">
    <ion-card class="slider-card">
      <ion-img [src]="slide.image" alt="Soundbar Image"></ion-img>

      <div class="black-section">
        <h3 class="product-title">{{ slide.title }}</h3>
        <div class="price_container">
          <span class="compare_price">{{ slide.comparePrice }}</span>
          <span class="sale_price">{{ slide.salePrice }}</span>
        </div>

        <p>{{ slide.rewardsNote }}</p>

        <!-- Conditional Line -->
        <ng-container *ngIf="slide.showTabby">
          <div class="tabby-payment">
            Split in 4 payments with 
            <span class="tabby-badge">
              <ion-img src="assets/public/tabby.svg" alt="Tabby logo" class="tabby-img"></ion-img>
            </span>
          </div>
        </ng-container>
        
        <ng-container *ngIf="slide.showWarranty">
          <p class="warranty-line">1 Year Free Extended Warranty</p>
        </ng-container>

        <div *ngIf="slide.type === 'product'" class="button-wrapper">
          <ion-button class="shop-now" expand="full" fill="solid">
            Add to cart
          </ion-button>
        </div>
      </div>
    </ion-card>
  </swiper-slide>
</swiper-container>
