<!-- <swiper-container #swiper class="my-swiper" init="false">
  <swiper-slide *ngFor="let slide of soundbars; let i = index">
    <ion-card class="slider-card">
      <ion-img [src]="slide.image" alt="Soundbar Image"></ion-img>

      <div class="black-section">
        <h3 class="product-title">{{ slide.title }}</h3>
        <div class="price_container">
          <span class="compare_price">{{ slide.comparePrice }}</span>
          <span class="sale_price">{{ slide.salePrice }}</span>
        </div>

        <p>{{ slide.rewardsNote }}</p>

       
        <ng-container *ngIf="slide.showTabby">
          <div class="tabby-payment">
            Split in 4 payments with 
            <span class="tabby-badge">
              <ion-img src="assets/public/tabby.svg" alt="Tabby logo" class="tabby-img"></ion-img>
            </span>
          </div>
        </ng-container>
        
        <ng-container *ngIf="slide.showWarranty">
          <p class="warranty-line">1 Year Free Extended Warranty</p>
        </ng-container>

        <div *ngIf="slide.type === 'product'" class="button-wrapper">
          <ion-button class="shop-now" expand="full" fill="solid">
            Add to cart
          </ion-button>
        </div>
      </div>
    </ion-card>
  </swiper-slide>
</swiper-container> -->


<p *ngIf="!slides.length">Loading or no data available...</p>

<div *ngIf="slides.length > 0" id="pagination2">
  <swiper-container #swiper init="false" class="tv-slider">
    <swiper-slide *ngFor="let slide of slides">
      <div class="tv-card">
        <div class="offer-badge" *ngIf="slide.data.discountNote">Offer</div>

        <img [src]="slide.data.image" alt="TV image" class="tv-image" />

        <div class="tv-info">
          <h4 class="tv-title">{{ slide.data.title }}</h4>

          <!-- <div class="tv-pricing">
            <span class="compare-price" *ngIf="slide.data.comparePrice">AED {{ slide.data.comparePrice }}</span>
            <span class="sale-price">AED {{ slide.data.salePrice }}</span>
          </div> -->

          <div class="tv-pricing">
            <div class="price_custom">
              <span class="compare-price" *ngIf="slide.data.comparePrice">AED {{ slide.data.comparePrice }}</span>
            <span class="sale-price">AED {{ slide.data.salePrice }}</span>
            </div>
            <span class="money-price" *ngIf="slide.data.moneyPrice">
              Earn <span class="highlight-price">{{ slide.data.moneyPrice }}</span> Rewards Points
            </span>
          </div>

          <div class="rewards" *ngIf="slide.data.rewardsNote">
            {{ slide.data.rewardsNote }}
          </div>

          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div> -->
</div>