<swiper-container #swiper class="my-swiper" init="false">
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/speaker1.webp" alt="Rewards"></ion-img>
      <div class="black-section">
        <h3>1 Year Free Extended Warranty</h3>
        <p>Get Extended Warranty </p>
        <p>On Select Products </p>
        <ion-button class="shop-now" expand="full" fill="solid">Add to cart</ion-button>
      </div>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/speaker2.webp" alt="Rewards"></ion-img>
      <div class="black-section">
        <h3>Sony Rewards</h3>
        <p>Earn Sony Rewards on</p>
        <p>Every Purchase</p>
        <!-- <ion-button class="shop-now" expand="full" fill="solid">Add to cart</ion-button> -->

      </div>

      <div class="container-subscribe">
        <p class="heading-para">Tell Me When Available!</p>
        <ionic-newsletter-signup class="hydrated">
          <form class=""><input
              aria-labelledby="9yard1onl65" name="email" type="email" placeholder="Email address"
              required=""><ionic-button class="hydrated"><!----><button class="default"
                type="submit">Sign up</button></ionic-button></form>
        </ionic-newsletter-signup>
      </div>

    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/speaker3.webp" alt="Lens Cleaning"></ion-img>
      <div class="black-section">
        <h3>Camera Sensor Cleaning</h3>
        <p>Book a sensor cleaning</p>
        <p>with us today.</p>
        <ion-button class="shop-now" expand="full" fill="solid">Add to cart</ion-button>
      </div>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/speaker4.webp" alt="Lens Cleaning"></ion-img>
      <div class="black-section">
        <h3>Camera Sensor Cleaning</h3>
        <p>Book a sensor cleaning</p>
        <p>with us today.</p>
        <ion-button class="shop-now" expand="full" fill="solid">Add to cart</ion-button>
      </div>
    </ion-card>
  </swiper-slide>

</swiper-container>

<!-- <div class="navigation-container1">
  <div class="button-prev"></div>
  <div class="swiper-pagination"></div>
  <div class="button-next"></div>
</div> -->