swiper-container {
    width: 100%;
    height: 70%;
    --swiper-pagination-bullet-inactive-color: #888;
    --swiper-pagination-color: #fff;
  }
  
  swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .slider-card {
    width: 98%;
    margin: 0;
    padding: 0;
    border: 1px solid #2021251a;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
  }
  
  
  .blue-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 1.2;
  }
  
  .yellow-text {
    color: #FFD700;
    font-size: 18px;
    margin: 0;
  }
  
  .products-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px; // Adjust based on your needs
    margin: 20px 0;
  }
  
  .badge-overlay {
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 10px;
  }
  
  .warranty-badge {
    width: 100px; // Adjust based on your needs
  }
  
  .products-image {
    max-width: 100%;
    max-height: 180px;
  }

  ion-card ion-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  
  // Black section at bottom of all cards
  .black-section {
    background-color: #fff;
    color: black;
    padding: 15px;
    margin-top: -3px;
  }
  
  .black-section h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .black-section p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .know-more {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .know-more ion-icon {
    margin-left: 5px;
  }
  
  // For other slides that use a regular image
  ion-card img {
    width: 100%;
    object-fit: cover;
  }

  ion-button.shop-now {
    --ion-color-base: #dc3a1a;
    --ion-color-contrast: #ffffff;
    --background: #dc3a1a;
    --color: #ffffff;
    --border-radius: 6px;
  }

  .container-subscribe {
    background-color: #dc3a1a;
    padding: 15px;
    text-align: center;
    // border-radius: 6px;
    max-width: 400px;
    margin: auto;
  }
  
  .container-subscribe .heading-para {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  ionic-newsletter-signup form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  
  ionic-newsletter-signup input[type="email"] {
    padding: 10px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    width: 60%;
    outline: none;
  }
  
  ionic-newsletter-signup button.default {
    background-color: #2b7cd3;
    color: #fff;
    padding: 12px 5px;
    border: none;
    border-radius: 0 0px 4px 0;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    height: 100%;
    text-transform: uppercase;
  }
  
  ionic-newsletter-signup button.default:hover {
    background-color: #246ab3;
  }
  