<swiper-container #swiper init="false">
  <swiper-slide *ngFor="let slide of slides">
    <ng-container *ngIf="slide.data as data">
      <ion-card class="slider-card">
        <ion-img [src]="data.image" alt="Product Image"></ion-img>

        <!-- BLACK SECTION (common for all) -->
        <div class="black-section">
          <h3 class="product-title">{{ data.title }}</h3>
          <div class="price_container">
            <span class="compare_price">{{ data.comparePrice }}</span>
            <span class="sale_price">{{ data.salePrice }}</span>
          </div>
          <p>{{ data.discountNote }}</p>
          <p>{{ data.rewardsNote }}</p>
        </div>

        <!-- PRODUCT: Add to cart button inside black-section -->
        <div *ngIf="slide.type === 'product'" class="button-wrapper">
          <ion-button class="shop-now" expand="full" fill="solid">
            Add to cart
          </ion-button>
        </div>

        <!-- PROMO: Signup form outside black-section -->
        <div *ngIf="slide.type === 'promo'" class="container-subscribe">
          <p class="heading-para">Tell Me When Available!</p>
          <ionic-newsletter-signup class="hydrated">
            <form>
              <input
                aria-labelledby="9yard1onl65"
                name="email"
                type="email"
                placeholder="Email address"
                required
              />
              <ionic-button class="hydrated">
                <button class="default" type="submit">Sign up</button>
              </ionic-button>
            </form>
          </ionic-newsletter-signup>
        </div>
      </ion-card>
    </ng-container>
  </swiper-slide>
</swiper-container>
