<!-- <swiper-container #swiper init="false">
  <swiper-slide *ngFor="let slide of slides">
    <ng-container *ngIf="slide.data as data">
      <ion-card class="slider-card">
        <ion-img [src]="data.image" alt="Product Image"></ion-img>

        
        <div class="black-section">
          <h3 class="product-title">{{ data.title }}</h3>
          <div class="price_container">
            <span class="compare_price">{{ data.comparePrice }}</span>
            <span class="sale_price">{{ data.salePrice }}</span>
          </div>
          <p>{{ data.discountNote }}</p>
          <p>{{ data.rewardsNote }}</p>
        </div>

        
        <div *ngIf="slide.type === 'product'" class="button-wrapper">
          <ion-button class="shop-now" expand="full" fill="solid">
            Add to cart
          </ion-button>
        </div>

        
        <div *ngIf="slide.type === 'promo'" class="container-subscribe">
          <p class="heading-para">Tell Me When Available!</p>
          <ionic-newsletter-signup class="hydrated">
            <form>
              <input
                aria-labelledby="9yard1onl65"
                name="email"
                type="email"
                placeholder="Email address"
                required
              />
              <ionic-button class="hydrated">
                <button class="default" type="submit">Sign up</button>
              </ionic-button>
            </form>
          </ionic-newsletter-signup>
        </div>
      </ion-card>
    </ng-container>
  </swiper-slide>
</swiper-container> -->


<p *ngIf="!slides.length">Loading or no data available...</p>

<div *ngIf="slides.length > 0" id="pagination2">
  <swiper-container #swiper init="false" class="tv-slider">
    <swiper-slide *ngFor="let slide of slides">
      <div class="tv-card">
        <div class="offer-badge" *ngIf="slide.data.discountNote">Offer</div>

        <img [src]="slide.data.image" alt="TV image" class="tv-image" />

        <div class="tv-info">
          <h4 class="tv-title">{{ slide.data.title }}</h4>

          <!-- <div class="tv-pricing">
            <span class="compare-price" *ngIf="slide.data.comparePrice">AED {{ slide.data.comparePrice }}</span>
            <span class="sale-price">AED {{ slide.data.salePrice }}</span>
          </div> -->

          <div class="tv-pricing">
            <div class="price_custom">
              <span class="compare-price" *ngIf="slide.data.comparePrice">AED {{ slide.data.comparePrice }}</span>
            <span class="sale-price">AED {{ slide.data.salePrice }}</span>
            </div>
            <span class="money-price" *ngIf="slide.data.moneyPrice">
              Earn <span class="highlight-price">{{ slide.data.moneyPrice }}</span> Rewards Points
            </span>
          </div>

          <div class="rewards" *ngIf="slide.data.rewardsNote">
            {{ slide.data.rewardsNote }}
          </div>

          <button class="add-to-cart">Add to cart</button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div> -->
</div>


