<swiper-container #swiper class="my-swiper" init="false">
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/brevia_8.webp" alt="Rewards"></ion-img>
      <div class="black-section">
        <h3>1 Year Free Extended Warranty</h3>
        <p>Get Extended Warranty </p>
        <p>On Select Products </p>
        <div class="know-more">
          <ion-text>Know More</ion-text>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/brevia_8_55.webp" alt="Rewards"></ion-img>
      <div class="black-section">
        <h3>Sony Rewards</h3>
        <p>Earn Sony Rewards on</p>
        <p>Every Purchase</p>
        <div class="know-more">
          <ion-text>Know More</ion-text>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/BRAVIA_8_-65.webp" alt="Lens Cleaning"></ion-img>
      <div class="black-section">
        <h3>Camera Sensor Cleaning</h3>
        <p>Book a sensor cleaning</p>
        <p>with us today.</p>
        <div class="know-more">
          <ion-text>Know More</ion-text>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card>
  </swiper-slide>
  
  <swiper-slide>
    <ion-card class="slider-card">
      <ion-img src="assets/public/brevia_3_85.webp" alt="Lens Cleaning"></ion-img>
      <div class="black-section">
        <h3>Camera Sensor Cleaning</h3>
        <p>Book a sensor cleaning</p>
        <p>with us today.</p>
        <div class="know-more">
          <ion-text>Know More</ion-text>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card>
  </swiper-slide>
  
</swiper-container>

<!-- <div class="navigation-container1">
  <div class="button-prev"></div>
  <div class="swiper-pagination"></div>
  <div class="button-next"></div>
</div> -->