<ion-menu side="start" menuId="main-menu" contentId="main-content">
 
  <ion-content class="ion-padding" color="dark">

    
    <ion-accordion-group>
      <ion-accordion value="tv">
        <ion-item slot="header" color="dark">
          <ion-label>TV</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>BRAVIA</ion-item>
          <ion-item>OLED</ion-item>
          <ion-item>Accessories</ion-item>
        </div>
      </ion-accordion>

      <ion-accordion value="home-cinema">
        <ion-item slot="header" color="dark">
          <ion-label>Home Cinema</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>Projectors</ion-item>
          <ion-item>Soundbars</ion-item>
        </div>
      </ion-accordion>

      <ion-accordion value="audio">
        <ion-item slot="header" color="dark">
          <ion-label>Audio</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>Headphones</ion-item>
          <ion-item>Walkman</ion-item>
        </div>
      </ion-accordion>

      <ion-accordion value="digital-imaging">
        <ion-item slot="header" color="dark">
          <ion-label>Digital Imaging</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>Alpha Cameras</ion-item>
          <ion-item>Camcorders</ion-item>
        </div>
      </ion-accordion>

      <ion-accordion value="car-audio">
        <ion-item slot="header" color="dark">
          <ion-label>Car Audio</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>Speakers</ion-item>
          <ion-item>Stereos</ion-item>
        </div>
      </ion-accordion>

      <ion-accordion value="gaming">
        <ion-item slot="header" color="dark">
          <ion-label>Gaming</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item>PlayStation</ion-item>
          <ion-item>Accessories</ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  
    <ion-list>
      <ion-item button>Rewards</ion-item>
      <ion-item button>Exclusive Deals</ion-item>

     
      <ion-item lines="none">
        <ion-label>English</ion-label>
        <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      </ion-item>

      <ion-item [routerLink]="['/login']" lines="none">
        <ion-label>Login</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">

  <app-header></app-header>
  
  <ion-content class="">
    
    <ion-img src="assets/public/EN-740X740.webp" alt=""></ion-img>
    <div class="container dark ion-text-center">
      <h2>LinkBuds Series</h2>
      <h1>Keep every world on</h1>
    
      <ion-button class="custom-btn">Buy Now</ion-button>
    </div>

    <div class="container1">
      <h4>The Latest</h4>
    </div>

    
    <div id="slider1-wrapper">
      <app-slider></app-slider>
      <div id="pagination1" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div id="slider2-wrapper">
      <div class="container1">
        <h4>BRAVIA Televisions</h4>
      </div>
      <app-slider-tv></app-slider-tv>
      <div id="pagination2" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>


    <div class="container1">
      <h4>Soundbars</h4>
    </div>
    <div id="slider3-wrapper">
      <app-slider-soundbar></app-slider-soundbar>
      <div id="pagination3" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>

    <div class="container1">
      <h4>Headphones</h4>
    </div>
    <div id="slider4-wrapper">
      <app-slider-headphones></app-slider-headphones>
      <div id="pagination4" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>


    <div id="slider5-wrapper">
      <div class="container1">
        <h4>Speakers</h4>
      </div>
      <app-slider-speakers></app-slider-speakers>
      <div id="pagination5" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>

    <div id="slider6-wrapper">
      <div class="container1">
        <h4>Cameras</h4>
      </div>
      <app-slider-cameras></app-slider-cameras>
      <div id="pagination6" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="view-all">
      <h6>View all</h6>
    </div>


    <div id="slider7-wrapper">
      <div class="container1">
        <h4>More from Sony</h4>
      </div>
      <app-slider-more-from-sony></app-slider-more-from-sony>
      <div id="pagination7" class="navigation-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <app-footer></app-footer>

    <ion-button expand="full" (click)="loadProducts()">Load Products</ion-button>

<!-- Show products when available -->
<ion-list *ngIf="products.length > 0">
  <ion-item *ngFor="let product of products">
    <ion-label>
      <h2>{{ product.title }}</h2>
    </ion-label>
  </ion-item>
</ion-list>
   
  </ion-content>
</div>





 


  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Shopify Products</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list *ngIf="products.length">
      <ion-item *ngFor="let product of products">
        <ion-label>
          <h2>{{ product.title }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ion-text color="medium" *ngIf="!products.length">
      <p>Loading products...</p>
    </ion-text>
  </ion-content> -->
  