// ion-content {
//   --padding-top: 115px; 
// }

.container.dark {
  background-color: #1e1e22;
  padding: 30px 20px;
  margin-top: -5px;
  color: white;
  text-align: center;
}

.container1{
  margin-left: 16px;
  font-weight: bold !important;
}

.container.dark h1,
.container.dark h2 {
  color: white;
  margin: 10px 0;
}

// .custom-btn {
//   --background: #2D75C7;     
//   --color: white;          
//   --box-shadow: none;
//   padding: 18px 30px;
//   font-size: 16px;
//   font-weight: 500;
// }

.custom-btn {
  --background: #2f80ed;
  --color: #fff;
  --border-radius: 0px;
  --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 25px;
    --padding-end: 25px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.5px;
  font-family: "SST-light" !important;
  margin-top: 15px;
}



.navigation-container {
  position: absolute;
  // bottom: 15px;
  left: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  pointer-events: none;
  z-index: 10;
}

.swiper-pagination {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 14px;
  border-radius: 15px;
  font-size: 10px;
  color: black;
  position: relative;
  display: inline-block;
  width: auto !important;
  margin: 0;
  pointer-events: auto;
  left: 0 !important;
  transform: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  pointer-events: auto;
  top: auto !important;
  transform: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 8px;
  font-weight: bold;
}

.swiper-button-prev {
  position: relative;
  left: 0 !important;
}

.swiper-button-next {
  position: relative;
  right: 0 !important;
}

.view-all h6{
text-align: center;
font-weight: bold;
text-decoration: underline;
font-size: 13px;
margin-top: 30px;
}

.container h2{
  font-size: 20px;
  font-weight: bold;
}

.container h1{
  font-size: 1.85rem;
    font-weight: bolder;
}




